@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@500;700&display=swap");
.creditSection {
  position: absolute;
  bottom: 3em;
  right: 3em;
  width: 4em;
  height: 4em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  overflow: hidden;
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.158);
  background: linear-gradient(to right, #000000, #fcfcfc);
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.creditSection::after {
  content: "G C";
  color: rgb(255, 213, 134);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.creditSection::before {
  content: "G C";
  color: rgba(0, 0, 0, 0.274);
  filter: blur(5px);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.creditSection .Loading {
  position: absolute;
  width: 4em;
  height: 4em;
  border: 2px solid rgb(100, 100, 100);
  border-top: 2px solid rgb(255, 213, 134);
  animation: infiniteBorder 5s infinite linear;
  border-radius: 50%;
  transition-delay: 1s;
}
.creditSection .creditDiv {
  opacity: 0;
  margin-left: 0.8em;
  transform: translateX(-30em);
}
.creditSection .creditDiv p {
  color: #7c5d5d;
  cursor: default;
}
.creditSection .creditDiv p a {
  text-decoration: none;
  color: rgb(255, 213, 134);
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3019607843));
}
.creditSection:hover {
  height: 5em;
  width: 30em;
  border-radius: 15px;
  border: 1px solid black;
}
.creditSection:hover::after {
  display: none;
}
.creditSection:hover::before {
  display: none;
}
.creditSection:hover .Loading {
  display: none;
}
.creditSection:hover .creditDiv {
  transform: translateX(0);
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

@keyframes infiniteBorder {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (max-width: 600px) {
  .creditSection {
    position: static;
    bottom: 0;
    right: 50%;
    width: 25em;
    border-radius: 15px;
  }
  .creditSection .creditDiv {
    display: flex;
    font-size: 14px;
    transform: translateX(0);
    opacity: 1;
  }
  .creditSection::after {
    display: none;
  }
  .creditSection::before {
    display: none;
  }
  .creditSection:hover {
    width: 25em;
    height: 4em;
    border: none;
  }
  .Loading {
    display: none;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: inherit;
  text-decoration: none;
  font-weight: inherit;
}

html,
body {
  width: 100vw;
  min-height: 100vh;
  min-height: 100svh;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 0.9rem;
  display: grid;
  place-items: center;
  background: linear-gradient(to bottom, hsl(273, 75%, 66%), hsl(240, 73%, 65%)) no-repeat;
}

.parent_section {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  max-width: 90%;
  padding: 1em 1.5em 3.5em 1.5em;
}
.parent_section section:nth-child(1) {
  position: relative;
}
.parent_section section:nth-child(1) .Background_Desktop_Version,
.parent_section section:nth-child(1) .Illustration_Desktop_Version,
.parent_section section:nth-child(1) .Box_Illustration_Desktop {
  display: none;
}
.parent_section section:nth-child(1) .BackgroundMobileVersion {
  position: relative;
  top: 50%;
  left: 0;
}
.parent_section section:nth-child(1) .IllustrationMobileVersion {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-65%);
  width: 100%;
}
.parent_section section:nth-child(2) {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5em;
}
.parent_section section:nth-child(2) header h1 {
  font-size: clamp(2rem, 2.5vw, 3rem);
  font-weight: 700;
}
.parent_section section:nth-child(2) main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.2em;
}
.parent_section section:nth-child(2) main .summary {
  display: flex;
  flex-direction: column;
  gap: 1em;
  position: relative;
  border-bottom: hsl(240, 5%, 91%) 1px solid;
  padding: 0 0 1.2em 0;
  width: 100%;
  height: 2em;
  overflow: hidden;
  transition: 400ms all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.parent_section section:nth-child(2) main .summary:has(input:checked) {
  height: clamp(5em, 5.5vw, 5.5em);
}
.parent_section section:nth-child(2) main .summary:has(input:checked) p:first-child {
  font-weight: 700;
}
.parent_section section:nth-child(2) main .summary:has(input:checked) p:last-of-type {
  transform: scale(1);
}
.parent_section section:nth-child(2) main .summary p {
  transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  font-size: clamp(0.7rem, 0.2rem + 0.7vw, 0.9rem) !important;
}
.parent_section section:nth-child(2) main .summary p:last-of-type {
  transform: scale(0);
}
.parent_section section:nth-child(2) main .summary input {
  cursor: pointer;
  position: absolute;
  top: 0;
  width: 100%;
  height: 1.3em;
  right: 0;
  z-index: 1;
  filter: opacity(0);
}
.parent_section section:nth-child(2) main .summary label {
  position: absolute;
  right: 0;
  top: 0;
  color: hsl(14, 88%, 65%);
}
.parent_section section:nth-child(2) main .summary label img {
  transition: all 200ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
.parent_section section:nth-child(2) main .summary input:checked + label img {
  transform: rotate(180deg);
}

@media (min-width: 62em) {
  .parent_section {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: white;
    border-radius: 20px;
    max-width: 100%;
    width: 75%;
    padding: 0em;
    box-shadow: 0 30px 20px 0 rgba(0, 0, 0, 0.13);
  }
  .parent_section section:nth-child(1) {
    max-width: 100%;
    width: 100%;
  }
  .parent_section section:nth-child(1) div {
    position: relative;
    width: clamp(60%, 100vw, 100%);
    overflow: hidden;
    padding: 3em;
  }
  .parent_section section:nth-child(1) .Background_Desktop_Version,
  .parent_section section:nth-child(1) .Illustration_Desktop_Version,
  .parent_section section:nth-child(1) .Box_Illustration_Desktop {
    display: block;
    max-width: 100%;
  }
  .parent_section section:nth-child(1) .Background_Desktop_Version {
    position: absolute;
    transform: translateX(-50%) translateY(-20%) scale(1.3);
  }
  .parent_section section:nth-child(1) .Illustration_Desktop_Version {
    position: relative;
    right: 25%;
    width: 100%;
  }
  .parent_section section:nth-child(1) .Box_Illustration_Desktop {
    position: absolute;
    left: 0;
    top: 50%;
    width: 30%;
    transform: translateX(-55%) translateY(-20%) scale(1);
    filter: drop-shadow(0 0 0);
  }
  .parent_section section:nth-child(1) .BackgroundMobileVersion,
  .parent_section section:nth-child(1) .IllustrationMobileVersion {
    display: none;
  }
  .parent_section section:nth-child(2) {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 3em;
    width: 100%;
  }
  .parent_section section:nth-child(2) header h1 {
    font-size: clamp(2rem, 2.5vw, 3rem);
    font-weight: 700;
  }
  .parent_section section:nth-child(2) main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.2em;
    max-width: 60%;
  }
  .parent_section section:nth-child(2) main .summary {
    display: flex;
    flex-direction: column;
    gap: 1em;
    position: relative;
    border-bottom: hsl(240, 5%, 91%) 1px solid;
    padding: 0 0 1.2em 0;
    width: 100%;
    height: 2em;
    overflow: hidden;
    transition: 400ms all cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .parent_section section:nth-child(2) main .summary:has(input:hover) p:first-child {
    color: hsl(14, 88%, 65%);
  }
  .parent_section section:nth-child(2) main .summary p {
    transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
    font-size: clamp(0.7rem, 0.2rem + 0.7vw, 0.9rem) !important;
  }
  .parent_section section:nth-child(2) main .summary input {
    cursor: pointer;
    position: absolute;
    top: 0;
    width: 100%;
    height: 1.3em;
    right: 0;
    z-index: 1;
    filter: opacity(0);
  }
  .parent_section section:nth-child(2) main .summary label {
    position: absolute;
    right: 0;
    top: 0;
    color: hsl(14, 88%, 65%);
  }
  .parent_section section:nth-child(2) main .summary label img {
    transition: all 200ms cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  .parent_section section:nth-child(2) main .summary input:checked + label img {
    transform: rotate(180deg);
  }
}
@media (min-width: 87.5em) {
  .parent_section {
    width: 80%;
  }
  .parent_section section:nth-child(1) .Illustration_Desktop_Version {
    right: 22%;
  }
  .parent_section section:nth-child(1) .Box_Illustration_Desktop {
    transform: translateX(-60%) translateY(-20%) scale(1);
  }
  .parent_section section:nth-child(2) {
    padding: 2em;
  }
}/*# sourceMappingURL=index.css.map */